.clear {
	clear:both;
}

body {
	font-family: 'Open Sans', sans-serif;
	color:black;
	font-size:13px;
}

#header_container {
	width:100%;
	border-bottom: 1px solid #C4C4C4;
}

#header_container #header {
	width:1000px;
	margin: 0 auto;	
}

#header_container #header #logo {
	float:left;
	font-size:22px;
	margin-right:50px;
	padding: 10px 0;
}

#header_container #header #menu {
	float:left;
}

#menu ul li {
	display:inline-block;
	border-right: 1px solid #C4C4C4;
	position:relative;
}

#menu ul li:last-child {
	border-right:none;
}

#menu ul li a {
	color:black;
	text-decoration:none;
	display:block;
	padding: 15px 20px;
}

#menu ul li a:hover {
	background: #F0F0F0;
}

#menu ul li:hover > ul.sub_menu_0 {
	display:block;
}

#menu ul li a:hover {
	color: gray;
}

#menu ul.sub_menu_0 {
	z-index:999;
	display:none;
	position:absolute;
	background: white;
	border-right: 1px solid #C4C4C4;
	border-left: 1px solid #C4C4C4;
	border-bottom: 1px solid #C4C4C4;
	width:150px;
}

.main_menu li > a:after { margin-left: 5px; content: '\25BA'; }
.main_menu > li > a:after { margin-left: 5px; content: '\25BC'; }
.main_menu li > a:only-child:after { margin-left: 0; content: ''; }

#menu ul.sub_menu_0 li {
	border-right:none;
	width:100%;
	position:relative;
}

#menu ul.sub_menu_0 li:hover > ul.sub_menu_1 {
	display:block;
}

#menu ul.sub_menu_1 {
	z-index:999;
	display:none;
	position:absolute;
	left:150px;
	background: white; 	
	top:0;
	border-right: 1px solid #C4C4C4;
	border-bottom: 1px solid #C4C4C4;
}

#page {
	width:1000px;
	margin: 0 auto;
	padding: 10px 20px;
}

#page p, #page code {
	font-size:13px;
	line-height:20px;
}

#page table {
	border:1px solid black;
}

#page td, #page th {
	padding:10px;
	text-align:left;
	border:1px solid black;
}

#page th {
	background: #ACFFFF;
}

#page div.table {
	display: block;
	clear:both;
}

#page div.td {
	padding:10px;
	text-align:left;
	border:1px solid black;
	display: block;
	float:left;
	width:100px;
}

#page div.td.switchbutton, #page div.th.switchbutton {
	width:175px;
	height: 18px;
}

#page div.tr {
	display: table-row;
	clear:both;
}

#page div.th {
	padding:10px;
	text-align:left;
	border:1px solid black;
	background: #ACFFFF;
	display: block;
	float:left;
	width:100px;
}

#page h2 {
	font-size:16px;
	font-weight:bold;
	padding:10px 0;
}

.switch-button-label {
    float: left;

    font-size: 10pt;
    cursor: pointer;
}

.switch-button-label.off {
    color: #adadad;
}

.switch-button-label.on {
    color: #0088CC;
}

.switch-button-background {
    float: left;
    position: relative;

    background: #ccc;
    border: 1px solid #aaa;

    margin: 1px 10px;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    cursor: pointer;
}

.switch-button-button {
    position: absolute;

    left: -1px;
    top : -1px;

    background: #FAFAFA;
    border: 1px solid #aaa;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}